---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";
import placements from "@/data/ctftime/ctf_placement.json" assert { type: "json" };

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <div class="container mx-auto max-w-3xl px-4">
    <main id="main-content" data-layout="index">
      <section id="hero" class="pt-8 pb-6">
        <div class="flex items-center justify-center gap-8">
          <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
            SNI Cybersecurity Team
          </h1>
          <a
            target="_blank"
            href="/rss.xml"
            class="inline-block"
            aria-label="rss feed"
            title="RSS Feed"
          >
            <IconRss
              width={20}
              height={20}
              class="scale-125 stroke-accent stroke-3"
            />
            <span class="sr-only">RSS Feed</span>
          </a>
        </div>

        <p class="w-full text-justify">
          The SNI Cybersecurity Team is a group of passionate Indonesians who love
          diving into CTFs and cybersecurity competitions, both locally and globally.
          We're always learning and leveling up together.
        </p>

        <p class="mt-4 w-full text-justify">
          We're not open for public recruitment at the moment
          — new members currently join by recommendation from existing team members.
        </p>

        <p class="mt-4 w-full text-justify">
        Besides competing, we also help CTF organizers by making challenges,
        handling the infrastructure, and mentoring others in different CTF categories.
        </p>

        <div class="mt-6 mb-4 w-full text-justify">
          Furthermore, according to CTFtime, SNI achieved the following
          placements:
          <ul>
            {
              placements.toReversed().map(placement => (
                <li class="mt-1 flex items-start">
                  <span>
                    In {placement.year}, SNI is ranked
                    <span class="font-bold text-emerald-600 dark:text-emerald-400">
                      #{placement.place}
                    </span>
                    in the world and
                    <span class="font-bold text-emerald-600 dark:text-emerald-400">
                      #{placement.countryPlace}
                    </span>
                    in Indonesia.
                  </span>
                </li>
              ))
            }
          </ul>
        </div>

        {
          // only display if at least one social link is enabled
          SOCIALS.length > 0 && (
            <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
              <Socials />
            </div>
          )
        }
      </section>

      <Hr />

      {
        featuredPosts.length > 0 && (
          <>
            <section id="featured" class="pt-12 pb-6">
              <h2 class="text-2xl font-semibold tracking-wide">Featured</h2>
              <ul>
                {featuredPosts.map(data => (
                  <Card variant="h3" {...data} />
                ))}
              </ul>
            </section>
            {recentPosts.length > 0 && <Hr />}
          </>
        )
      }

      {
        recentPosts.length > 0 && (
          <section id="recent-posts" class="pt-12 pb-6">
            <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
            <ul>
              {recentPosts.map(
                (data, index) =>
                  index < SITE.postPerIndex && <Card variant="h3" {...data} />
              )}
            </ul>
          </section>
        )
      }

      <div class="mb-8 text-center">
        <LinkButton href="/posts/">
          All Posts
          <IconArrowRight class="inline-block" />
        </LinkButton>
      </div>
    </main>
  </div>
  <div class="container mx-auto max-w-3xl px-4">
    <Footer />
  </div>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
